In [6]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
TEST_DF_URL = "/home/amelie/k8s-ml-pipeline/sample_data/ams-data.csv"
csv_content = pd.read_csv(TEST_DF_URL, encoding = "latin1", sep=";" )
print(f"pdf gelesen")
csv_content.head(5)

pdf gelesen

,Datum,RGSCode,RGSName,Geschlecht,Verweildauer,Altersgruppe,ABGANG,DS_VWD,Unnamed: 8
0,2019-01-31,101,Eisenstadt,Frauen,0 bis 90 Tage,bis 19 Jahre,4,26,NaN
1,2019-01-31,101,Eisenstadt,Frauen,0 bis 90 Tage,20 bis 24 Jahre,12,39,NaN
2,2019-01-31,101,Eisenstadt,Frauen,0 bis 90 Tage,25 bis 29 Jahre,10,42,NaN
3,2019-01-31,101,Eisenstadt,Frauen,0 bis 90 Tage,30 bis 34 Jahre,16,39,NaN
4,2019-01-31,101,Eisenstadt,Frauen,0 bis 90 Tage,35 bis 39 Jahre,14,41,NaN